<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>StudyLine.ru сообщение с сайта</title>
</head>
<body>
  <h3>Сообщение от посетителя сайта</h3>
  <p>Имя:<%=@name%></p>
  <p>Телефон: <%=@phone%></p>
  <p><%=@message%></p>
</body>