<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/jquery.tooltip.css" />
<script type="text/javascript" src="/javascripts/jquery.dimensions.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tooltip.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.preview').tooltip({
  	track: true,
  	delay: 100,
  	showBody: '::',
  	opacity: 0.85
  });
});
</script>

<div id="top_pic">
  <div id="top_pic_up"></div>
  <div id="top_pic_center">
    <% zoom_map = photo.photoable_type=="Country" ? "zoom_map":"" %>
    <% if photo.photoable_type=="Country"%>
      <%= link_to (image_tag photo.public_filename(:view)), photo.public_filename, :class => "preview", :title=>false %>
    <% else %>
      <%= image_tag photo.public_filename(:view) %>
    <% end %>
  </div>
  <div id="top_pic_down"></div>
</div>