
          <div id="news">
            <h1>Новости компании</h1>
                 <img src="images/news1.jpg" align="left" style="padding-right:3px;"><p><b>Ashford Летний международный лагерь</b></p>
                 <p>С 20 июля по 2 августа Специальная цена с руководителем из Петербурга — 2335 евро. Дополнительно оплачивается только консульский сбор 3280 р</p>

                 <p align="right"><a href="#">Подробнее</a></p><br />

                 <img src="images/news2.jpg" align="left" style="padding-right:3px;"><p><b>Летние каникулы в Гастингсе</b> Летние каникулы для детей от 12 до 16 лет.</p>
                 <p>С 20 июля по 2 августа Специальная цена с руководителем из Петербурга — 2335 евро. Дополнительно оплачивается только консульский сбор 3280 р</p>
                 <p align="right"><a href="#">Подробнее</a></p>
          </div>

           <div id="conte">

             <%=@page.content%>

          </div>



            