
          <div id="news">
            <h1>Новости компании</h1>
                <%= events_list %>
          </div>

           <div id="conte">

             <%=@page.content%>

          </div>



            