
<% unless @page.nil? %>
    <%= page_title(@page.name,:h3) %>
    <%= meta @page %>

    <%=@page.content %>
<% else %>
      <h3>Запрашиваемой страницы не существует.</h3>
<% end %>

<%= link_to 'редактировать', edit_admin_l_page_path(lang_id(@lang),@page), :class => "admin_edit_link"  if admin? %>
