<script type="text/javascript" src="/javascripts/own.toggle.js"></script>

<% unless @page.nil? %>
    <h3><%=@page.name%></h3>
    <%=@page.content %>
<% else %>
      <h3>Запрашиваемой страницы не существует.</h3>
<% end %>

